<!DOCTYPE html>
<!--[if IE 6]><html lang="ko-KR" class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"><![endif]-->
<!--[if IE 7]><html lang="ko-KR" class="lt-ie10 lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html lang="ko-KR" class="lt-ie10 lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>YB STUDYROOM &lt; GIT</title> <!-- &lt; < 표시 -->
  <meta name="viewprot" content="width=device-width, initial-scale=1">
  <meta name="description" content="day1 day2 day3 까지 정리">
  <meta name="keywords" content="html, 웹표준, www, git">
  <link rel="stylesheet" href="../css/style.css">
  <!-- Favicon: Favorite Icon -->
  <link rel="shortcut icon" href="../images/favicon.png">
  <style>
    .lt-ie10 body { background: #db439b;}
    .lt-ie9 body { background: #db429b; }
    .lt-ie8 body { background: #db419b; }
    .lt-ie7 body { background: #db459b; }
    .ie9 body { background: #db669b; }
    .ie8 body { background: #dd333b; }
    .ie7 body { background: #db467b; }
    .ie6 body { background: #db497b; }
    body { background: #00FF8E; }
  </style>
</head>
<body>

    <img src="../images/gitlogo.jpg" alt="git">
    <h1 id="agenda">GIT&amp;GITHUB</h1>

  <!-- 외부 링크 -->
  <div>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/view/www_explain.html">WWW</a></li>
        <li><a href="/view/sourcetree.html">SOURCETREE</a></li>
        <li><a href="/view/git_explain.html">GIT&amp;GITHUB</a></li>
      </ul>
    </nav>
  </div>

  <section>
    <h2>소스 저장소란?</h2>
      <h3>version control system.</h3>
      <ul>
        <li><p>(VCS) 버전관리시스템파열 변화를 시간에 따라 기록가능</p></li>
        <li><p>특정 시점을 다시 불러올 수 있다.</p></li>
      </ul>

      <h3>구체적인 이점</h3>
      <ul>
         <li><p>기록을 통해 변경된 내용 공유</p></li>
         <li><p>타인이 작업한 내용을 쉽게 병합</p></li>
         <li><p>과거 상태로 복구 가능</p></li>
         <li><p>분기(브랜치)를 통해 병렬 관리</p></li>
       </ul>

       <h3>VCS는 어떤게 있는가?</h3>
        <ul>
          <li>SVN ( 아직까지 쓰지만 Git으로 넘어감 )</li>
          <li>Mercurial</li>
        </ul>
    </section>

    <section>
      <h2>Git ?</h2>
      <ul>
        <li>복잡한 Branch 관리에 적합</li>
        <li>로컬 저장소와 원격저장소의 분리</li>
        <li>빠른 속도</li>
        <li>다양한 서비스 업체</li>
        <li>다양한 보조 툴</li>
      </ul>
    </section>

    <section>
      <h3>git 구조</h3>
      <img src="../images/git_img.png" alt="GIT구조흐름">
    </section>

    <a href="#agenda">go to list</a>

</body>
</html>
