<!DOCTYPE html>
<!--[if IE 6]><html lang="ko-KR" class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"><![endif]-->
<!--[if IE 7]><html lang="ko-KR" class="lt-ie10 lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html lang="ko-KR" class="lt-ie10 lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>YB STUDYROOM &lt; SOURCETREE</title> <!-- &lt; < 표시 -->
  <meta name="viewprot" content="width=device-width, initial-scale=1">
  <meta name="description" content="day1 day2 day3 까지 정리">
  <meta name="keywords" content="html, 웹표준, www, git">
  <link rel="stylesheet" href="../css/style.css">
  <!-- Favicon: Favorite Icon -->
  <link rel="shortcut icon" href="../images/favicon.png">
  <style>
    .lt-ie10 body { background: #db439b;}
    .lt-ie9 body { background: #db429b; }
    .lt-ie8 body { background: #db419b; }
    .lt-ie7 body { background: #db459b; }
    .ie9 body { background: #db669b; }
    .ie8 body { background: #dd333b; }
    .ie7 body { background: #db467b; }
    .ie6 body { background: #db497b; }
    body { background: #00FF8E; }
  </style>
</head>
<body>

    <img src="../images/logoSourceTree.png" alt="sourcetree">
    <h1 id="agenda">SourceTree</h1>

  <!-- 외부 링크 -->
  <div>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/view/www_explain.html">WWW</a></li>
        <li><a href="/view/sourcetree.html">SOURCETREE</a></li>
        <li><a href="/view/git_explain.html">GIT&amp;GITHUB</a></li>
      </ul>
    </nav>
  </div>

  <section>
    <h3>sourcetree 연결</h3>
      <ol>
        <li>소스트리 계정연결</li>
        <li>Github에 있는 저장소 복제</li>
        <li><br>
          <ol>
            <li>Github에서 HTTP 주소 입력</li>
            <li>호스팅 프로젝트 탐색</li>
            <li>계정 연결</li>
            <li>Clone</li>
          </ol>
        </li>
        <li>나의 working directory에 파일을 넣는다.</li>
        <li>Stage Area 확인</li>
        <li>선택 후 commit</li>
        <li>push하고 github 확인</li>
        <li>Remote Repo에서 변경된 파일 pull하여서 나의 working directory를 업데이트한다.</li>
      </ol>
    </section>

    <a href="#agenda">go to list</a>

</body>
</html>
