<!DOCTYPE html>
<!--[if IE 6]><html lang="ko-KR" class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"><![endif]-->
<!--[if IE 7]><html lang="ko-KR" class="lt-ie10 lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html lang="ko-KR" class="lt-ie10 lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>YB STUDYROOM &lt; WWW</title> <!-- &lt; < 표시 -->
  <meta name="viewprot" content="width=device-width, initial-scale=1">
  <meta name="description" content="day1 day2 day3 까지 정리">
  <meta name="keywords" content="html, 웹표준, www, git">
  <link rel="stylesheet" href="../css/style.css">
  <!-- Favicon: Favorite Icon -->
  <link rel="shortcut icon" href="../images/favicon.png">
  <style>
    .lt-ie10 body { background: #db439b;}
    .lt-ie9 body { background: #db429b; }
    .lt-ie8 body { background: #db419b; }
    .lt-ie7 body { background: #db459b; }
    .ie9 body { background: #db669b; }
    .ie8 body { background: #dd333b; }
    .ie7 body { background: #db467b; }
    .ie6 body { background: #db497b; }
    body { background: #00FF8E; }
  </style>
</head>
<body>

      <img src="../images/w3c_logo.jpg" alt="w3c" />
      <h1 id="agenda">World Wide Web</h1>

  <!-- 외부 링크 -->
  <div>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/view/www_explain.html">WWW</a></li>
        <li><a href="/view/sourcetree.html">SOURCETREE</a></li>
        <li><a href="/view/git_explain.html">GIT&amp;GITHUB</a></li>
      </ul>
    </nav>
  </div>

  <section>
    <h3>웹이 만들어진 이유</h3>
      <ul>
        <li>URL 주소로 쉽게 연결 ( 카톡, 지도 , 메일, 정보, 검색, 영상 등 )</li>
        <li>Linked data 는 HTML을 통해서 각각의 데이터를 연결 시키고 또다른 데이터를 생산해낸다.</li>
        <li>사람들 머리속에는 정보의 조각이 있다. 뇌는 그 조각을 맞추려는 생각을 한다.</li>
        <li>우리는 데이터를 묶어주는 일을 한다. 그 환경이 WWW다</li>
        <li>각 컴퓨터에서 문서를 공유하고 싶으나 없었다</li>
      </ul>
    </section>

    <section>
      <h3>계속 된 진화</h3>
        <ul>
          <li>90년대 후반 .COM 열풍 ( 웹 1.0 )</li>
          <li>구글 , 아마존, 이베이 ( 웹 2.0 ) : 상생 플랫폼, 참여유도, 공유, 개방</li>
          <li>API 의 등장</li>
          <li>플리커 , 트위터, 페이스북 각각 API를 각 회사에서 제공하고 사용자는 공유하게 된다.</li>
          <li>다음(약도), 네이버(네이버검색결과), SK플래닛 11번가(쇼핑몰 개발)</li>
          <li>Ajax ( 에이젝스 ) , JSON : 이제 웹기술만 가지고도 구현 가능하다.</li>
          <li>웹은 문서 공유가 아닌 애플리케이션 플랫폼 거듭, 진화</li>
        </ul>
    </section>

    <a href="#agenda">go to list</a>
</body>
</html>
