<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>cougrou</title>
  <link rel="stylesheet" href="cougrou.css">
</head>
<body>
	<!-- header에 nav를 만드는 두가지 방식 꼭 nav 로 만들지 않고
	div > span > a로 만들 수도 있다 -->
	<!-- h1을 만들 때 alt로 텍스트를 대체하여 접근성을 향상 시켜 주자 -->
	<header>
		<h1>
			<a href="#"><img src="Images/title.png" alt="cougrou"></a>
		</h1>
		<nav>
			<ul>
				<li><a href="#">로그인</a></li>
				<li><a href="#">회원가입</a></li>
				<li><a href="#">고객센터</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>