* { 
	margin: 0;
	padding: 0;
	font: normal 12px 'Dotum';
}
a { text-decoration: none; }
img { border: 0; }
ul { list-style-type: none; }

body { width: 980px; margin: 0 auto; position: relative; }

#main_header {
	position: relative;
	height: 75px;
}
#main_header > h1.logo {
	position: absolute;
	left: 15px; top: 10px;
}
#main_header > div.login_menu {
	position: absolute;
	top: 10px; right: 0px;
}

/*aside는 body(부모)에 relative를 주고 자기 자신을 absolute한다 */
/* 왜 absolute와 fixed의 위치가 달라지는가? 부모 기준인데 */
/* absolute는 relative된 body 기준이고, 
fixed는 브라우저 기준이기 때문이다. */
/* 그러면 fixed는 디바이스 사이즈 마다 브라우저 해상도가 달라질텐데 계속 그에 맞게 변경 해줘야 하는가? */
#global_aside {
	/*position: fixed;*/
	position: absolute;
	/* body width 980을 벗어나 10px 여백을 두고 left 990px을 적용 */
	left: 990px; 
	top: 75px;
	/*top: 75px;*/
	/* 내 모니터사이즈 1366 - width: 90px - 스크롤바 사이즈(18~20px 정도) */
	/*left: 1256px;*/
	width: 90px;
}
#global_aside > a {
	display: block; 
	margin-bottom: 5px;
}

/* img가 inline 이어서 html에서 띄어쓰기를 다 지웠는데 왜 사진끼리 붙지 않는가? */
/*#global_aside > a > img { 
	vertical-align: bottom; 
}*/

#top_gnb {
	overflow: hidden;
}

#top_gnb > div.menu {
	float: left;
	width: 140px;
	height: 50px;
	background: url('Images/top_gnb.png');
}

/* navigation 좌표 지정 및 hover 했을 때 */
#top_gnb > div.item_1 { background-position: 0px 0px; }
#top_gnb > div.item_2 { background-position: 0px -50px; }
#top_gnb > div.item_3 { background-position: 0px -100px; }
#top_gnb > div.item_4 { background-position: 0px -150px; }
#top_gnb > div.item_5 { background-position: 0px -200px; }
#top_gnb > div.item_6 { background-position: 0px -250px; }
#top_gnb > div.item_7 { background-position: 0px -300px; }

#top_gnb > div.item_1:hover { background-position: 0px -350px; }
#top_gnb > div.item_2:hover { background-position: 0px -400px; }
#top_gnb > div.item_3:hover { background-position: 0px -450px; }
#top_gnb > div.item_4:hover { background-position: 0px -500px; }
#top_gnb > div.item_5:hover { background-position: 0px -550px; }
#top_gnb > div.item_6:hover { background-position: 0px -600px; }
#top_gnb > div.item_7:hover { background-position: 0px -650px; }

#top_gnb > div.item_1.active { background-position: 0px -350px; }
#top_gnb > div.item_2.active { background-position: 0px -400px; }
#top_gnb > div.item_3.active { background-position: 0px -450px; }
#top_gnb > div.item_4.active { background-position: 0px -500px; }
#top_gnb > div.item_5.active { background-position: 0px -550px; }
#top_gnb > div.item_6.active { background-position: 0px -600px; }
#top_gnb > div.item_7.active { background-position: 0px -650px; }

#bottom_gnb { overflow: hidden; }
#bottom_gnb > div.menu {
	float: left;
	width: 98px; height: 80px;
	background: url('Images/bottom_gnb.png');
}